

body {
    font-family: Arial, sans-serif;
    
}

#gallery_area {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 100px;
    gap: 2%;
    margin-bottom: 100px;
    justify-content: center;
    height: 100%;

}

#gallery_area img {
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

#gallery_area img:hover {
    transform: scale(1.1);
}

header {
    height: 150px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header hr {
    color: gray;
    width: 98%;
    position: absolute;
    bottom: 0;
    left: 1%;
    margin: 0;
}

.header_buttons {
    display: flex;
    gap: 5%;
    width: 100%;
    justify-content: center;

}

.header_buttons button {
    width: 200px;
    height: 45px;
    border-radius: 25px;
    font-size: 18px;
    border-style: solid;
    border-width: 2px;
    border-color: lightslategrey;
    background-color:azure;
    cursor: pointer;
    transition: transform 0.3s;
}

.header_buttons button:hover {
    transform: scale(1.1);
}

.feedback-form {
    display: flex;
    flex-direction: column;
    width: 408px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 150px;
}

.feedback-form label {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
}

.feedback-form input[type="email"],
.feedback-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    border-width: 2px;
    resize: none;
}

.feedback-form input[type="email"]:focus,
.feedback-form textarea:focus {
    border-color: #007BFF;
    outline: none;
}

.feedback-form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4E75FF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    width: 95px;
}

.feedback-form button:hover {
    background-color: #6C8CFF;
}